body {
}

th div input {
    width: 80px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
}

    th div input:focus {
        outline: none;
        border-bottom: 1px solid #28a2a2;
    }

th div button {
    background-image: url(/images/filterIcon.jpg);
    width: 21px;
    height: 21px;
    border: none;
}

/*.filter input {
    width: 80px;
    border: none;
    border-bottom: 1px solid #d8d8d8;
}

    .filter input :focus {
        outline: none;
        border-bottom: 1px solid #28a2a2;
    }

.filter button {
    background-image: url(/images/filterIcon.jpg);
    width: 21px;
    height: 21px;
    border: none;
}

div {
    color: red;
}*/